<h2><%= bookData.title %></h2>
<div class="show_book">
  <div>
    <div class="image">
      <img
        src="<%= bookData.coverImagePath %>"
        height="400"
        width="250"
        alt="Book Cover"
      />
    </div>
    <div class="book-prnt">
      <div class="book-btn">
        <a href="/books/<%= bookData.id %>/edit" class="btn btn-primary">
          Edit
        </a>
        <%- include('../partials/deleteForm.ejs',{url:`/books/${bookData.id}`})
        %>
      </div>
      <div class="book-delete">
        <a href="/authers/<%= bookData.auther.id %>/" class="btn btn-primary">
          View Author
        </a>
      </div>
    </div>
  </div>

  <div class="book-card">
    <div class="book-info">
      <h3>Author:</h3>
      <div class="info-value"><%= bookData.auther.name %></div>
    </div>
    <div class="book-info">
      <h3>Publish Date:</h3>
      <div class="info-value"><%= bookData.publishDate.toDateString() %></div>
    </div>
    <div class="book-info">
      <h3>Page Count:</h3>
      <div class="info-value"><%= bookData.pageCount %></div>
    </div>
    <div class="book-info">
      <h3>Description:</h3>
      <div class="info-value"><%= bookData.description %></div>
    </div>
  </div>
</div>
