<h2>Search Auther</h2>
<form action="/authers" method="get">
  <div class="form-row">
    <div class="form-item">
      <label for="autherName">Name</label>
      <input
        type="search"
        name="autherName"
        id="autherName"
        value="<%= searchOptions.autherName%>"
      />
    </div>
  </div>
  <div class="form-row form-row-end">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
<br />
<% authersList.forEach(auther => {%>
<div id="added_auther">
  <div><h2><%= auther.name %></h2></div>
  <div class="btn-row form-row form-row-end">
    <a href="/authers/<%= auther.id %>" class="btn btn-primary">View</a>
    <a href="/authers/<%= auther.id %>/edit" class="btn btn-primary">Edit</a>
    <%- include('../partials/deleteForm.ejs', {url:`/authers/${auther.id}`}) %>
  </div>
</div>
<% }); %>
